@import "../../../../assets/shared/variables.scss";

.section-container {
  height: 100%;
  width: 16vw;

  background: $neutral-gray-light;
  box-shadow: 3px 0 0 $default-darker-shadow;

  overflow: hidden;
  overflow-y: auto;

  user-select: none;

  img.move {
    opacity: 0.5;
    max-width: 30px;
    max-height: 30px;
    margin: 1rem 1rem 0 1rem;

    cursor: pointer;

    &:hover {
      transition: 50ms ease;
      opacity: 1;
    }
  }

  ul {
    overflow: hidden;
    li {
      transition: 50ms ease;
      background-color: $base-shade;
      color: white;

      border-radius: 10px;

      cursor: pointer;

      &:hover,
      &:focus,
      &.selected {
        transition: 100ms ease;
        background-color: $accent-shade2;
        box-shadow: 0px 6px 0px $default-darker-shadow;
      }

      input {
        color: white;
        border: none;
        background: none;
        width: 100%;
        height: 100%;

        &::selection{
          background: $accent-shade2;
        }
      }
    }
  }

  ul.sections {
    img {
      display: block;
      margin-left: auto;
      margin-bottom: 1rem;
    }

    .hrWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;

      height: 12px;
      width: 90%;

      margin: 0 auto;

      hr {
        pointer-events: none;

        visibility: hidden;
        &.hoverDrop {
          visibility: visible;
        }
      }
    }

    li {
      width: 70%;
      margin: 0.2rem auto;
      padding: 0.2rem 1rem;

      &,
      input {
        font-weight: bold;
        font-size: 19px;
        text-align: center;
      }
    }
  }

  .pagesWrapper {
    img {
      transform: rotate(-180deg);
    }
    ul.pages {
      margin-right: 1rem;
      margin-top: 1.5rem;
      li {
        float: right;
      }

      li.top {
        width: 85%;
        margin-top: 0.5rem;
        padding: 0.2rem 0;

        font-weight: bold;
        font-size: 20px;
        text-align: center;
      }

      li.lower {
        font-size: 15px;
        text-align: left;
        margin-top: 0.45rem;
        padding: 0.2rem 0.3rem;

        &.first {
          width: 75%;
        }

        &.second {
          width: 65%;
        }

        &.third {
          width: 55%;
        }
      }
    }
  }

  .contextMenuShow {
    display: block;
    flex-direction: column;
    align-items: center;

    position: absolute;

    border-radius: 10px;
    background: $neutral-gray-light-darker;

    box-shadow: 5px 5px 0 $default-darker-shadow;

    z-index: 10;

    height: auto;
    width: 150px;

    padding: 0.3rem;

    svg#colors {
      position: relative;
      display: flex;
      margin: 0.1rem auto 0;
      height: 25px;
      width: 90%;

      circle {
        cursor: pointer;

        &:hover {
          transition: 50ms ease;
          transform: translateY(-3px);
        }
      }
    }

    hr {
      width: 90%;
      color: $text-default;
      margin: 0 auto;
    }

    .magageButtons {
      margin: 0.3rem auto;
      width: 90%;

      .manageItem {
        display: flex;
        cursor: pointer;

        border-radius: 10px;

        padding: 0.2rem 0.3rem;

        &:hover {
          background: $hover-background;
        }

        .icon {
          display: flex;
          align-content: center;
          justify-content: center;
          min-width: 30px;
        }

        p {
          overflow-wrap: normal;
        }
      }
    }
  }
}
