<div class="loginForm">
  <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
    <label
      [appFormChecking]="changePassForm"
      [formCheckingInputParam]="'password'"
      for="password"
      >Nové heslo</label
    >
    <div *ngIf="onGetError(changePassForm, 'password')">
      <p class="invalid">*Toto pole je povinné</p>
      <p class="invalid">*Zadané heslo nespĺňa minimálne požiadavky</p>
    </div>

    <div class="passwordHolder">
      <input
        [type]="password_type"
        name="password"
        id="password"
        class="typicalInput"
        formControlName="password"
      />
      <button
        class="showPass"
        type="button"
        (click)="onChangePassType($event)"
      ></button>
    </div>

    <label
      [appFormChecking]="changePassForm"
      [formCheckingInputParam]="'checkPassword'"
      for="password"
      >Potvrď heslo</label
    >
    <div *ngIf="onGetError(changePassForm, 'checkPassword')">
      <p class="invalid">*Toto pole je povinné</p>
      <p class="invalid">*Heslá sa nezhodujú</p>
    </div>

    <div class="passwordHolder">
      <input
        [type]="password_confirm_type"
        name="checkPassword"
        id="checkPassword"
        class="typicalInput"
        formControlName="checkPassword"
      />
      <button
        class="showPass"
        type="button"
        (click)="onChangePassType($event, true)"
      ></button>
    </div>

    <button
      type="submit"
      class="typicalInput"
      style="cursor: pointer;"
      [disabled]="changePassForm.invalid"
    >
      Submit
    </button>
  </form>
</div>
