@import "src/assets/shared/variables.scss";

.flex-container{
    display: flex;

}

.loginForm, #loginGreet{
    height: 100vh;
}

.loginForm{
    background: $neutral-gray-light;
    width: 60vw;
    float: left;

    h1{
        color: $base-color;
        font-size: 4.6875vw;
        margin-top: 4rem;
        text-align: center;
    }

    form{
        display: flex;
        flex-direction: column;
        width: 45.3125vw;
        margin: 8rem auto 0;

        label, button[type=submit]{
            color: $base-color;
            font-size: 1.5625vw;
            font-weight: bold;
            margin: 3rem 0 .3rem 0;
        }

        
        label.ng-touched{
            color: $accent-shade1;
            text-decoration: underline;
        }

        button[type=submit]{
            width: 13.020833333333334vw;
            margin: 3rem auto;
        }

        p.invalid{
            font-size: .95em;
            color: $accent-color;
        }
    }

}

#loginGreet{
    display: flex;
    flex-direction: row;
    background: $base-color;
    width: 40vw;
    float: right;
    

    svg#polygons{
        height: inherit;
        width: 80px;

        polygon{
            fill: $neutral-gray-light;
        }
    }

    #greeting{
        flex-grow: 2;

        display: flex;
        flex-direction: column;

        text-align: center;
        .imgHolder{
            margin-top: 3rem;

            img{
                max-height: auto;
                max-width: 12.739583333333334vw
            }
        }

        .textHolder{
            color: $neutral-gray-light;
            padding-top: 3rem;;

            h1{
                font-size: 7.8125vw;
                line-height: 1.5em;
            }

            h2{
                font-size: 3.6458333333333335vw;
                font-weight: 100;
            }

            h3{
                font-size: 3.125vw
            }
            h3.light{
                font-weight: lighter;
            }
        }

        .inputErrors{
            padding-top: 2.5rem;
            width: 30vw;
            margin: 0 auto;
            font-size: 1.5625vw;

            p{
                color: white;
                text-align: left;
            }
            
            ul{
                color: $base-color;
                background: white;
                list-style: '-';
                list-style-position: outside;
                text-align: left;
                margin: .5rem auto 0;
                padding: .9rem 1.5rem;
                border-radius: 25px;
                box-shadow: 2px 6px 0 $default-darker-shadow;

                li{
                    line-height: 1.5em;
                    padding-left: .6rem;
                }

            }
        }

    }
}
