@import "../../../assets/shared/variables.scss";

#container-primary-logedin.calendar {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;

  //   calendar itself
  .container-days {
    margin-top: 2rem;
    width: 88vw;

    display: flex;
    flex-direction: row;
    justify-content: center;

    .dayHolder {
      display: flex;

      .vl {
        right: 0;
        top: 0;
        background: $neutral-gray-light;
        width: 2px;
      }

      .day {
        padding: 1vmax;

        hr {
          border: 1px solid $default-darker-shadow;
          border-radius: 2px;
        }
        .date {
          font-size: 30px;
          color: $text-default;
          text-align: center;
        }
        .events {
          .classroom,
          .timetable,
          .personal {
            .eventHolder {
              display: flex;
              flex-direction: row;
              position: relative;
              justify-content: space-between;
              align-items: center;

              border-radius: 10px;
              padding: 0.3rem;
              width: 160px;
              margin-bottom: 0.3rem;

              cursor: pointer;

              .delete {
                display: none;
                color: $neutral-gray-dark;

                border: 2px solid $neutral-gray-dark;
                border-radius: 50px;

                height: fit-content;
                width: auto;

                margin: 5px;

                cursor: pointer;
                
                p{
                  padding: 3px 6px;
                  font-size: .6em;
                  font-weight: bold;
                }
              }

              &.active{
                transition: 100ms ease-in-out;
                transform: translateY(-6px);
                box-shadow: 2px 6px 0 $default-darker-shadow;

                .delete{
                  display: block;
                }
              }
            }
            .eventHolder:nth-child(1) {
              margin-top: 0.3rem;
            }
          }
          .classroom > .eventHolder {
            background: $cal-color1;
          }
          .timetable > .eventHolder {
            background: $cal-color2;
          }
          .personal > .eventHolder {
            background: $cal-color3;
          }
        }
      }
    }
  }

  .arrow > p {
    margin-top: 1rem;
    color: $text-default;
    font-weight: bolder;
    font-size: 2em;
    cursor: pointer;
    user-select: none;

    &:hover {
      transition: 100ms ease-in-out;
      text-shadow: 2px 3px 0 $hover-shadow;
      transform: translateY(-3px);
    }
  }

  //   filter
  .container-options {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 10fr;
    background-color: $default-darker-shadow;
    text-align: center;
    width: 12vw;
    height: 87.3vh;

    // all boxes have same width
    rect, .checkMark {
      stroke-width: 2px;
      cursor: pointer;
    }

    .filterOptionHolder {
      margin-top: 2rem;
      p {
        font-size: 1.042vw;
      }
    }

    .triednyKalendar {
      p{
        color: $filter-color1;
      }
      rect {
        stroke: $filter-color1;
      }
      .checkMark{
        fill: $filter-color1;
      }
    }
    .rozvrh {
      p {
        color: $filter-color2;
      }
      rect {
        stroke: $filter-color2;
      }
      .checkMark{
        fill: $filter-color2;
      }
    }
    .tvojKalendar {
      p {
        color: $filter-color3;
      }
      rect {
        stroke: $filter-color3;
      }
      .checkMark{
        fill: $filter-color3;
      }
    }

    .addEvent {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      color: $base-color;
      margin-bottom: 2rem;
      font-size: 1.042vw;

      div {
        cursor: pointer;
      }

      svg {
        margin-top: 0.5rem;
        transform: rotate(45deg);
        transform: scale(1.3);
      }
    }
  }
}
