<div id="container-primary-logedin" class="calendar">
  <app-add *ngIf="addItem" (closed)="onAddItem()"></app-add>
  <div class="container-days" (click)="onSelectEvent($event)">
    <div class="arrow">
      <p (click)="onPreviousWeek()"><</p>
    </div>
    <div class="dayHolder" *ngFor="let day of viewCalendar">
      <div class="day">
        <div class="date">
          <p>{{ day.showDate }}</p>
        </div>
        <div class="events">
          <div class="classroom" *ngIf="classCalVisility">
            <div
              class="eventHolder"
              [id]="'classroomE-'+classEvent.id"
              *ngFor="let classEvent of day.classroomEvents"
              [ngClass]="{'active': 'classroomE-'+classEvent.id==showActive}"
            >
              <p>
                {{ classEvent.title }}
              </p>
              <div class="delete" (click)="onDestroyEvent($event)"><p>X</p></div>
            </div>
          </div>
          <hr />
          <div class="timetable" *ngIf="timetableVisibility"></div>
          <hr />
          <div class="personal" *ngIf="personalCalVisibility">
            <div
              class="eventHolder"
              [id]="'personalE-'+personalEvent.id"
              *ngFor="let personalEvent of day.personalEvents"
              [ngClass]="{'active': 'personalE-'+personalEvent.id==showActive}"
            >
              <p>
                {{ personalEvent.title }}
              </p>
              <div class="delete" (click)="onDestroyEvent($event)"><p>X</p></div>
            </div>
          </div>
        </div>
      </div>
      <div class="vl" #vl></div>
    </div>

    <div class="arrow">
      <p (click)="onNextWeek()">></p>
    </div>
  </div>
  <div class="container-options">
    <div
      *ngFor="let filter of filters"
      [class]="'filterOptionHolder ' + filter.class"
    >
      <p>{{ filter.name }}</p>
      <svg
        width="30"
        height="30"
        (click)="onChangeVisibility(filter.changeVisibilityOf)"
      >
        <rect width="30" height="30" style="fill: white;" />
        <path #checkMark class="checkMark" d="M10.909,20.946,5.277,14.866,3.4,16.893,10.909,25,27,7.627,25.123,5.6Z"/>
      </svg>
    </div>
    <div class="addEvent">
      <div (click)="onAddItem()">
        <p>Pridať udalosť</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24"
          viewBox="0 0 24 24"
          width="24"
        >
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M14.59 8L12 10.59 9.41 8 8 9.41 10.59 12 8 14.59 9.41 16 12 13.41 14.59 16 16 14.59 13.41 12 16 9.41 14.59 8zM12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"
            fill="#3DA8CC"
          />
        </svg>
      </div>
    </div>
  </div>
</div>
