@import "./assets/shared/variables.scss";

@font-face {
  font-family: open-sans;
  src: url("/src/assets/fonts/OpenSans-Regular.ttf");
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

body{
  overflow: hidden;
  overflow-y: auto;
}

a, button {
  cursor: pointer;
  color: $neutral-gray-dark;
  text-decoration: none;
  outline: none;
}
a:hover{
  transition: 100ms ease-in-out;
  transform: scale(1.1);
}

button:disabled {
  opacity: 0.5;
}

#container-primary-logedin {
  width: 900px;
  margin: 0 auto;
  height: 86.7vh;
  overflow-y: auto;
}

.container-background-color {
  background: $neutral-gray-light;
  height: 100%;
}

//typical inputs - login, forms, etc

input{
  outline: none;
}

.typicalInput, button[type=submit].typicalInput{
  background: white;
  height: 3.6458333333333335vw;
  border: none;
  border-radius: 25px;
  box-shadow: 2px 6px 0 $default-darker-shadow;
  padding-left: 20px;
  font-size: 1.5625vw;
  outline: none;
}

button.clear{
  background: none;
  font-size: 20px;
  background: none;
  border: none;
  color: $text-default;
  opacity: .7;
}


// scrollbar

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #ebebeb;
}

::-webkit-scrollbar-thumb {
  background: #828282;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b3b3b;
}
