<nav id="drawer" #drawer>
    <ul>
        <li>
            <a href="/"><img src="../../assets/icons/landing_icon.png" alt=""></a>
            <label>Domov</label>
        </li>
        <div class="apps">
            <li>
                <a href="#"><img src="../../assets/icons/chat_icon.png" alt=""></a>
                <label>Chat-room</label>
            </li>
            <li>
                <a href="#"><img src="../../assets/icons/notes_icon.png" alt=""></a>
                <label>Poznámky</label>
            </li>
            <li>
                <a href="#"><img src="../../assets/icons/calendar_icon.png" alt=""></a>
                <label>Kalendár</label>
            </li>
        </div>
    </ul>
    <img src="../../assets/icons/play-icon.png" alt="" id="drawerTrigger" #drawerTriggerArrow
     (click)="moveDrawer()">
     
</nav>

<div *ngIf="loaded" class="overlay"></div>
