<nav id="drawer" #drawer>
  <ul>
    <li>
      <a [routerLink]="[icons[0].navigation]" (click)="moveDrawer()">
        <img [src]="icons[0].src" [alt]="icons[0].alt" />
      </a>
      <label>{{ icons[0].label }}</label>
    </li>

    <div class="apps">
      <div *ngFor="let icon of icons; index as i">
        <li *ngIf="i > 0">
          <a [routerLink]="[icon.navigation]" (click)="moveDrawer()">
            <img [src]="icon.src" [alt]="icon.alt" />
          </a>
          <label>{{ icon.label }}</label>
        </li>
      </div>
    </div>
  </ul>
  <img
    src="../../assets/icons/play-icon.png"
    alt=""
    id="drawerTrigger"
    #drawerTriggerArrow
    (click)="moveDrawer()"
  />
</nav>

<div #overlay *ngIf="loaded" class="overlay" (click)="moveDrawer()"></div>
